@font-face {
  font-family: "Outfit";
  src: url(./Outfit-Light.ttf) format("trueType");
  font-weight: 300;
  font-display: optional;
  font-style: normal;
}

@font-face {
  font-family: "Outfit";
  src: url(./Outfit-Regular.ttf) format("trueType");
  font-weight: 400;
  font-display: optional;
  font-style: normal;
}

@font-face {
  font-family: "Outfit";
  src: url(./Outfit-SemiBold.ttf) format("trueType");
  font-weight: 600;
  font-display: optional;
  font-style: normal;
}
